.body {
   display: flex;
   justify-content: center;
}

.container {
   height: 510px;
   width: 720px;
   /* border: 2px solid red; */
}

textarea {
   height: 240px;
   width: 700px;
   padding: 10px;
}

.keys {
   height: 240px;
   width: 700px;
   margin: 0 auto;
   background-color:#D5C8BE;
   border-radius: 10px;
   padding: 10px 10px;
      /* border: 2px solid red; */

}

.rows {
   display: flex;
   /* border: 2px solid red; */
   width: 100%;
   margin-bottom: 7px;
}

.press{
   display: block;
   cursor: pointer;
   height: 40px;
   width: 40px;
   background-color: #827EAE;
   border-radius: 9px;
   margin-right: 7px;
   transition: .4s;
   text-align:  center;
   border-bottom: 2px solid black;
}

.press.active, .press:active  {
   height: 40px;
   width: 50px;
   border-bottom: 0px solid black;
   /* border-right: 2px solid black; */
}



.press span {
   display: table;
   margin: auto;
   margin-top: 10px;
}

#backSpace, #capslock, #enter, #shift1, #shift2, #del {
 width: 90px;
}

#tab {
   width: 70px;
}

#space {
   width: 315px;
}

.press:hover {
   background-color: #A9A5D4;
}

.press.active, .press:active {
   background-color: white;
}

.info p {
   text-align:  center;
}

